body {
  background-image: url('../src/images/vivid-blurred-colorful-wallpaper-background_58702-3764.avif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


.forms {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
}
.forms div {
  padding:10px;
}

.home-stack {
  display: flex;
  justify-content: center;
}

.entries {
  padding: 10px;
  align-self: center;
  padding-top: 30px;
}

.entries-title {
  color: white;
}

.complex-nav-m {
  margin-top: 13px;
}

.signup-box {
  background-color: whitesmoke;
  border-radius: 10px;
}

.forms-new-entry {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 100%;
  margin-left: 150px;
  margin-right: 150px;
}

.new-entry-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chart-spacing {
  padding: 100px;
}

.complex-navbar {
  background-color: white;
}

.edit-entry-title:hover {
  font-weight: bold;
  text-decoration: underline;
}

.journal-entry-in-list:hover {
  cursor: default;
}

.journal-entry-in-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.entry-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entry-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px; /* Adjust as necessary */
}

.edited-date {
  margin-right: 10px; /* Adjust as necessary */
}

.square {
  width: 18px;
  height: 18px;
  background-color: #555;
  border-radius: 2px;
}

.entry-actions {
  display: flex;
  gap: 10px;
}

.default-entries-text {
  color: white;
}

.default-entries-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
}

.new-entry-save-button {
  width: 50%;
  align-self: center;
  margin-top: 0px !important;
  margin-bottom: 10px;
}

.forms.new-entry-container {
  margin-top: 5%;
}

.btn-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}