@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*, html {
  scroll-behavior: smooth !important; 
}
body {
  background-image: url('../src/images/vivid-blurred-colorful-wallpaper-background_58702-3764.avif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


.forms {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
}
.forms div {
  padding:10px;
}

.home-stack {
  display: flex;
  justify-content: center;
}

.entries {
  padding: 10px;
  align-self: center;
  padding-top: 30px;
}

.entries-title {
  color: white;
}

.complex-nav-m {
  margin-top: 13px;
}

.signup-box {
  background-color: whitesmoke;
  border-radius: 10px;
}

.forms-new-entry {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 100%;
  margin-left: 150px;
  margin-right: 150px;
}

.new-entry-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chart-spacing {
  padding: 100px 100px 30px 100px;
}

.complex-navbar {
  background-color: white;
}

.edit-entry-title:hover {
  font-weight: bold;
  text-decoration: underline;
}

.journal-entry-in-list:hover {
  cursor: default;
}

.journal-entry-in-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.entry-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entry-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px; /* Adjust as necessary */
}

.edited-date {
  margin-right: 10px; /* Adjust as necessary */
}

.square {
  width: 18px;
  height: 18px;
  background-color: #555;
  border-radius: 2px;
}

.entry-actions {
  display: flex;
  gap: 10px;
}

.default-entries-text {
  color: white;
}

.default-entries-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
}

.new-entry-save-button {
  width: 50%;
  align-self: center;
  margin-top: 0px !important;
  margin-bottom: 10px;
}

.forms.new-entry-container {
  margin-top: 5%;
}

.btn-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entries-list {
  overflow-y: auto;
  max-height: 550px;
}

.analysis-container {
  display: flex;
  flex-direction: column;
}

.about-analysis {
  justify-self: center;
  align-self: center;
  width: 1000px;
  padding-bottom: 50px;
}

.about-analysis-card {
  width: 1000px;
  height: auto;
}

.about-analysis-icon {
  justify-self: center;
  align-self: center;
}

.about-analysis-card-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.about-analysis-card-body > * {
  align-self: center;
}

.about-analysis b {
  font-weight: 600;
}

.about-analysis a {
  color: #8c61ff;
  font-weight: 500;
}

.learn-more {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 85px;
}
.learn-more-text{
  text-align: center;
}

/* Landing Page */

.landing {
  font-family: -apple-system, BlinkMacSystemFont, Roboto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
  align-items: center;
  padding: 16px 200px;
  gap: 20px;
}

.header a,
.hero-secondary {
  font-size: 18px;
  color: aliceblue;
}

.header a:hover {
  color: #5ed2fe;
}

.header-links {
  flex: 2;
  display: flex;
  gap: 20px;
}

.header-buttons {
  flex: 1;
  display: flex;
  gap: 20px;
}

.header-buttons a:hover {
  color: #8c61ff;
}

.header-login {
  border-color: #E5E7EB;
}

.header-login:hover {
  background-color: black;
  border-color: black;
}

.section{
  height: 700px;
  box-sizing: border-box;
  padding: 0px 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section {
  flex-direction: column;
  margin-bottom: 80px;
}

.hero-main,
.visualize-main,
.contact-main {
  font-size: 38px;
  font-weight: 800;
  color: #F9FAF8;
  text-align: center;
}

.hero-main-title {
  font-size: 150px;
}

.hero-secondary,
.visualize-secondary,
.contact-secondary {
  font-weight: 500;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.get-started-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.learn-more-btn {
  border-color: aliceblue;
  color: aliceblue;
}

.learn-more-btn:hover {
  border-color: black;
  color: aliceblue;
  background-color: black;
}

.learn-more-btn > a:hover {
  color: #8c61ff;
}

.discover-section {
  background-color: aliceblue;
  gap: 50px;
  justify-content: space-between;
}

.discover-intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.discover-main,
.faq-main {
  font-size: 38px;
  font-weight: 800;
}

.emotions {
  color: #8c61ff;
}

.discover-section img {
  width: auto;
  height: 75%;
  flex: 1;
  border-radius: 10px;
}

.visualize-intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.visualize-secondary,
.contact-secondary {
  color: aliceblue;
}

.visualize-section img {
  border-radius: 10px;
}

.faq-section {
  background-color: aliceblue;
  gap: 20px;
  margin-top: 100px;
  height: 900px;
}

.faq-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-right: 100px;
}

.faq-contact-btn {
  width: 50%;
  margin-top: 10px;
}

.faq-questions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  justify-content: space-around;
}

.contact-intro {
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 500px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background-color: #212121;
  color: aliceblue;
  font-weight: 500;
  padding: 0px 10%;
}

.footer-section ul {
  display: flex;
  gap: 20px;
}

.footer-section li:hover {
  color: #8c61ff;
}