.forms {
  display:flex;
  justify-content: center;
  margin-top: 6%;
}
.forms div {
  padding:10px;
}

.home-stack {
  display: flex;
  justify-content: center;
}

.entries {
  padding: 10px;
  align-self: center;
}

.entries-title {
  color: white;
}

.complex-nav-m {
  margin-top: 13px;
}

.signup-box {
  background-color: whitesmoke;
  border-radius: 6px;
}

.forms-new-entry {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 100%;
}

.new-entry-box {
  width: 100%;
}

.chart-spacing {
  margin-top: 5%;
}

.complex-navbar {
  background-color: white;
}

.edit-entry-title:hover {
  font-weight: bold;
  text-decoration: underline;
}

.journal-entry-in-list:hover {
  cursor: default;
}

.journal-entry-in-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.entry-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entry-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px; /* Adjust as necessary */
}

.edited-date {
  margin-right: 10px; /* Adjust as necessary */
}

.square {
  width: 18px;
  height: 18px;
  background-color: #555;
  border-radius: 2px;
}

.entry-actions {
  display: flex;
  gap: 10px; /* Adjust as necessary */
}
